/* HIDE GOOGLE TRANSLATE BANNER & WIDGET */
body {
  top: 0 !important;
}
.skiptranslate iframe {
  display: none !important;
}
#google_translate_element {
  display: none !important;
}
.goog-te-banner-frame {
  display: none !important;
}
/* Hide google tooltip */
.goog-tooltip {
  display: none !important;
}
.goog-tooltip:hover {
  display: none !important;
}
.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
